**{
    box-sizing: border-box;
}
body{
    
    background-image: url('https://bowties.com/cdn/shop/articles/magenta-color-swirl_1500x1000.jpg?v=1675131101');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1;
    font-family: 'Tinos', serif;
    text-align: center;
}

header{ 
    
    text-align: center;
    color: rgb(39, 242, 107);
    margin-top: 16vh;
}
/* #health-bar{
    width: 200px;
    height: 20px;
    background-color: #898f87;
    border: 2px solid #eee6e6;
}
#health {
    width: 100%;
    height: 100%;
    background-color: green;
} */
#btn{
    width: 179.55%;
    height: 111%;
    grid-area: btn;
    background-color:rgb(216, 87, 69);
    /* height: 20px;
    width: 60%; */
}
#question{
    width: 179.20%;
    height: 109px;
    background-color:rgba(232, 149, 107)	;
    border: 4.68px solid rgb(238, 125, 147);
    color: rgb(244, 57, 33);
    grid-area: question;
    /* display: grid; */
    /* height: 100px;
    width: 500px;
    margin-bottom: 60px; */
}
#restart{
    width: 180%;
    height: 111%;
    grid-area: restart;
    background-color:  rgb(104, 25, 54);
}
#playagain{
    width: 100%;
    grid-area: playagain;
    background-color: rgb(38, 123, 108);
}
.contanier{
    
    grid-gap: 5px;
    grid-template-areas: 
    "btn ."
    "question ."
    "one two"
    "three four"
    "restart ."
    "playagain ."
    "health-bar .";
    display: grid;
    margin: 1px auto;
    height: 100%;
    width: 50%;
    align-content: center;
    justify-content: center;
}
.grid-item{
    /* display: grid; */
    width: 245px;
    height: 150px;
    border: 5px solid rgba(59, 26, 59, 0.543)	;
    background-color: rgba(180, 33, 65, 0.975);
    color: rgba(34, 23, 53);
    margin: 10 auto;
 }
 .one{
    grid-area: one;
 }
 .two{
    grid-area: two;
 }
 .three{
    grid-area: three;
 }
 .four{
    grid-area: four;
 }
 .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2; /* Higher z-index to display over the game */
    text-align: center;
}

.popup-content {
    background-color: #fff;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

#closePopup {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}